
:root {
    --color-secondary-opacity: #ffcd0331;
    --color-primary-opacity: #5ec5763a;
    --color-tertiary-opacity: #ff58602d;
    --color-secondary-darker: #ffbb00;
    --color-primary: #00aeed;
    --color-tertiary: #ff585f;
    --color-tertiary-darker: #fd424b;
    --color-secondary: #ffcb03;
    
    --header-background-color: #333;
    --header-text-color: #fdfdfd;
    --header-alternate-row-background-color: #ddd;
    --alternate-row-text-color: #333;

    --table-width: 750px;
    --table-body-height: 500px;
    --column-one-width: 200px;
    --column-two-width: 200px;
    --column-three-width: 350px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
    height: 100%;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #0d004d;
    line-height: 1.9;
    background-color: #fff;
    width: 100%;
  }

  p {
    color: #222;
  }
  
  h1 {
    font-size: 5.5rem;
    line-height: 1.35;
  }
  
  h2 {
    font-size: 50px;
    line-height: 64px;
  }
  
  h4 {
    font-size: 2.4rem;
    font-weight: 500;
  }
  
  h6 {
    font-weight: 700;
    font-size: 12px;
  }

  /* GENERAL ELEMENTS */
.section {
    padding: 5rem 3rem;
    border-top: 1px solid #ddd;
    transition: transform 1s, opacity 1s;
  }
  
  .section--hidden {
    opacity: 0;
    transform: translateY(8rem);
  }
  
  .section__title {
    max-width: 80rem;
    margin: 0 auto 8rem auto;
  }
  
  .section__description {
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--color-primary);
    margin-bottom: 1rem;
  }
  
  .section__header {
    font-size: 4rem;
    line-height: 1.3;
    font-weight: 500;
  }
  
  .section-p1 {
    padding: 40px 80px;
  }
  .section-p2 {
    padding: 40px 40px;
  }
  
  .section-m1 {
    margin: 40px 0;
  }
  

/********************** HEADER *************************/
.header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(120deg, #fff 50%, #88e0f8 50%);
}
/* NAVIGATION */
#mobile {
    display: none;
  }
  .nav--close {
    display: none;
  }
  
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9rem;
    width: 100%;
    padding: 0 6rem;
    z-index: 100;
    
    /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06); */
  }
  /* nav and sticky class at the same time */
  .nav.sticky {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.95);
  }
  
  .nav__logo {
    height: 4.5rem;
    transition: all 0.3s;
  }
  
  .nav__links {
    display: flex;
    align-items: center;
    list-style: none;
    position: relative;
    transition: all 0.3s;
  }
  
  .nav__item {
    margin-left: 4rem;
  }
  
  .nav__link:link,
  .nav__link:visited {
    font-size: 1.7rem;
    font-weight: 400;
    color: inherit;
    text-decoration: none;
    display: block;
    transition: all 0.3s;
  }
  
  .nav__link--btn:link,
  .nav__link--btn:visited {
    padding: 0.8rem 2.5rem;
    border-radius: 3rem;
    background-color: var(--color-primary);
    color: #222;
  }
  
  .nav__link--btn:hover,
  .nav__link--btn:active {
    color: inherit;
    background-color: var(--color-primary-darker);
    color: #333;
  }
  
  .nav__link.active {
    color: var(--color-primary);
  }
  
 /*************** HERO BANNER ************/

  .header__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 350px;
  }

  .header__img {
    width: 50%;
}
  .header__img2 {
    width: 600px;
    padding-top: 150px;
    opacity: 0.3;
    overflow-x: hidden;
  }

/********************** Section Hospitals *************************/
.hospitals {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}

.bannerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.medLogo {
  z-index: 1;
}

.bannerContainer h2 {
    font-size: 10rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #f3f3f3;
    z-index: 1;
    position: relative;
}

.banner1 {
    position: relative;
    background-image: url(img/qcbg.jpg);
    background-size: 140%;
    background-position: 100% 10%;

}
.banner1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2); 

}

.banner2 {
    position: relative;
    background-image: url(img/meycauayanbg.jpg);
    background-size: 100%;
    background-position: 0 50%;
}
.banner2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
}
.banner3 {
    position: relative;
    background-image: url(img/navotasbg.jpg);
    background-size: 100%;
    background-position: 0 50%;
}
.banner3::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
}



/********************** MODAL WINDOW *************************/
.hidden {
  visibility: hidden;
  opacity: 0;
}

/* MODAL WINDOW */
.modal,
.modal2,
.modal3 {
  position: fixed;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  max-width: 80%;
  background-color: #f3f3f3;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: all 0.5s;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}

.close--btn {
  position: absolute;
  right: 50px;
  z-index: 1;
  color: #fdfdfd;
  background-color: transparent;
  border: none;
  font-size: 50px;
  cursor: pointer;
}

/********************** OPERATIONS *************************/
/* OPERATIONS */
.operations {
  background-color: #ddd;
  display: flex;
}

.operations__tab-container,
.operations__tab-container2, 
.operations__tab-container3 {
  background-color: black;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.operations__tab,
.operations__tab2,
.operations__tab3 {
  padding: 2px;
  background-color: rgb(250, 115, 115);
  display: flex;
  align-items: center;
  justify-content: center;
}


.operations__tab span,
.operations__tab2 span, 
.operations__tab3 span {
  margin-right: 10px;
}
.operations__tab .icons,
.operations__tab2 .icons,
.operations__tab3 .icons {
  width: 30px;
}
.operations__tab--active,
.operations__tab--active2,
.operations__tab--active3 {
  transform: translateX(20%);
}

.operations__content,
.operations__content2,
.operations__content3 {
  display: none;
  position: relative;
  background-image: url(img/delossantos.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  max-height: 80vh;
  overflow-y: auto;
  width: 80vw;
}

.operations__content--active, 
.operations__content--active2,
.operations__content--active3 {
  display: flex;
  flex-direction: column;
  padding: 20px 500px 100px 100px;
  color: #ddd;
  position: relative;
}
  .operations__logo img, 
  .operations__logo2 img,
  .operations__logo3 img {
    position: absolute;
    right: 10px;
    width: 200px;
  }

.operations__header, 
.operations__header2,
.operations__header3 {
  font-size: 3rem;
  font-weight: 500;
  align-self: left;
  padding-top: 100px;
  padding-bottom: 50px;
}

.operations__content p,
.operations__content2 p,
.operations__content3 p {
  padding-top: 30px;
  color: #ddd;
  font-size: 1.5rem;
  width: 500px;
}


/******************* TABLES ***************************/

.fixed_headers {
  width: var(--table-width);
  table-layout: fixed;
  border-collapse: collapse;

  th { text-decoration: underline;}
  th, td {
    padding: 5px;
    text-align: left;
  }

  td:nth-child(1), th:nth-child(1) {
    min-width: var(--column-one-width);
  }
  td:nth-child(2), th:nth-child(2) {
    min-width: var(--column-two-width);
  }
  td:nth-child(3), th:nth-child(3) {
    min-width: var(--column-three-width);
  }

  thead {
    background-color: var(--header-background-color);
    color: var(--header-text-color);
    tr {
      display: block;
      position: relative;
    }
  }
  tbody {
    display: block;
    overflow: auto;
    width: 100%;
    height: var(--table-body-height);
    font-size: 1.3rem;
    tr:nth-child(even) {
      background-color: var(--header-alternate-row-background-color);
      color: var(--alternate-row-text-color);
    }
  }
}

.old_ie_wrapper {
  height: var(--table-body-height);
  width: var(--table-width);
  overflow-x: hidden;
  overflow-y: auto;
  tbody {
    height: auto;
  }
}



/**********************************************/
/*********************************************/
/* SLIDER */
.slider {
  max-width: 300rem;
  height: 100rem;
  margin: 0 auto;
  position: relative;

  /* IN THE END */
  overflow: hidden;
}

.slide {
  position: absolute;
  width: 100%;
  height: 70rem;
  display: flex;
  align-items: center;
  justify-content: center;

  /* THIS creates the animation! */
  transition: transform 1s;
}

.slide > img {
  /* Only for images that have different size than slide */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider__btn {
  position: absolute;
  top: 70%;
  z-index: 10;
  border: none;
  background: rgba(255, 255, 255, 0.7);
  font-family: inherit;
  color: #333;
  border-radius: 50%;
  height: 5.5rem;
  width: 5.5rem;
  font-size: 3.25rem;
  cursor: pointer;
  margin-top: 100px;
}

.slider__btn--left {
  left: 6%;
  transform: translate(-50%, -50%);
}

.slider__btn--right {
  right: 6%;
  transform: translate(50%, -50%);
}

/************************ TESTIMONIALS */
.testimonial {
  width: 100%;
  position: relative;
}

.testimonial__text {
  font-size: 1.7rem;
  margin-bottom: 3.5rem;
  color: #ddd;
}

.testimonial__author {
  margin-left: 3rem;
  font-style: normal;
  display: grid;
  grid-template-columns: 6.5rem 1fr;
  column-gap: 2rem;
}

.testimonial__photo {
  grid-row: 1 / span 1;
  width: 5rem;
  border-radius: 50%;
}

.testimonial__name {
  font-size: 1.7rem;
  font-weight: 500;
  margin: 0;
}

.testimonial__location {
  font-size: 1rem;
}



/*************************ABOUT US SECTION***************************/
/************************************************************/
.hidden__content {
  display:none;
}
.section-about{
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 70vh;
  width: 75vw;
  margin: 50px auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 12px;
  margin-left: 300px;
}
.image{
  background-color: #88e0f8;
  display: flex;
  border-radius: 12px 0 0 12px;
}
.image img{
height:50vh;
margin:50px auto
}
.content, .content-mobile{
  background-color: #12192c;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 0  12px 12px 0;
  color: #fff;
}
.content h2{
  text-transform: uppercase;
  font-size: 36px;
  letter-spacing: 6px;
  color: #ddd;
}
.content span{
  height: 0.5px;
  width: 80px;
  background: #777;
  margin: 30px 0;
}
.content p{
  padding-bottom: 15px;
  font-weight: 300;
  opacity: 0.7;
  width: 60%;
  text-align: center;
  margin: 0 auto;
  line-height: 1.7;
  color:#ffffff
}
.links{
  margin: 15px 0;
}
.links li{
  border: 2px solid #4158D0;
  list-style: none;
  border-radius: 5px;
  padding: 10px 15px;
  width: 160px;
  text-align: center;
}
.links li a{
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
}
.links li:hover{
  border-color: #C850C0;
}

.vertical-line{
  height: 30px;
  width: 3px;
  background: #C850C0;
  margin: 0 auto;
}
.icons{
  display: flex;
  padding: 15px 0;
}
.icons li{
  display: block;
  padding: 5px;
  margin: 5px;
}
.icons li i{
  font-size: 26px;
  opacity: 0.8;
}
.icons li i:hover{
  color: #C850C0;
  cursor: pointer;
}

/****************************************/
/*****************/


/**********************************************/
/*********************************************/
/*               MEDIA QUERIES              */
/*******************************************/
/******************************************/

@media(max-width: 1280px)
 {


  .header__img {
    width: 650px;
  }
  .header__img2 {
    display: none;

  }

  .section-about {
    margin-left: 200px;
  }

 }

 /*******************************************/
/******************************************/
@media(max-width: 1024px) {

  .bannerContainer h2 {
    font-size: 6rem;
  }
  
  .medLogo {
    width: 300px;
  }
  

  .section-about {
    margin-left: 130px;
  }

}


/*******************************************/
/******************************************/
@media(max-width: 900px)


{

  .header__img2 {
    width: 800px;
    position: absolute;
    left: 0;
    top: 0;

  }

  .bannerContainer h2 {
    font-size: 8rem;
    margin-bottom: 20px;
  }

  .medLogo {
    width: 200px;
  }

  .hidden__content {
    display: block;
  }
  .section-about{
      grid-template-columns: 1fr;
      width: 100%;
      border-radius: none;
      margin-left: 0;
      margin-bottom: 0;
  }
  .image{
      height: 80vh;
      border-radius: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }
  .content-mobile{
      height: 100vh;
      border-radius: none;
      display: none;
  }
  .content-mobile h2{
      font-size: 20px;
      margin-top: 50px;
      color: #ddd;
  }
  .content-mobile span{
      margin: 20px 0;
  }
  .content-mobile p{
      font-size: 14px;
  }
  .links li a{
      font-size: 14px;
  }
  .links{
      margin: 5px 0;
  }
  .links li{
      padding: 6px 10px;
  }
  .icons li i{
      font-size: 15px;
  }
}
.credit{
  text-align: center;
  color: #000;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.credit a{
  text-decoration: none;
  color:#000;
  font-weight: bold;
} 


/**********************************************/
/******************************************/
/******************************************/
@media (max-width: 799px) {

  .header__img {
    width: 100%;
  }
  .header__img2 {
    width: 400px;
    position: absolute;
    left: 0;
    top: 0;

  }

  .image{
    height: 30vh;
}

  /* ------- index page ------- */
  .nav__links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #e3e6f3;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0 0 10px;
    transition: 0.5s;
  }

  .nav__links li {
    margin-bottom: 25px;
  }

  #mobile {
    display: flex;
    align-items: center;
  }
  #mobile i{
    color: #1a1a1a;
    padding-left: 25px;
  }


  #bar {
    font-size: 3rem;
    border-left: 1px solid #ddd;
    margin-left: 25px;
  }

  .nav--close {
    position: absolute;
    font-family: inherit;
    color: inherit;
    top: 0.5rem;
    right: 2rem;
    font-size: 4rem;
    cursor: pointer;
    border: none;
    background: none;
    display: initial;
  }
  .header {
    height: 70vh;
  }

  .bannerContainer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .bannerContainer h2 {
    font-size: 5rem;
    margin-bottom: 20px;
  }

  .medLogo {
    width: 100px;
  }

  /* operations area **************/
  .operations__tab-container,
  .operations__tab-container2,
  .operations__tab-container3 {
    width: 20%;
  }
  .operations__tab,
  .operations__tab2,
  .operations__tab3 {
    padding: 3px;
    font-size: .8rem;
  }
  .operations__tab span,
  .operations__tab2 span,
  .operations__tab3 span{
    margin-right: 10px;
  }
  .operations__tab .icons,
  .operations__tab2 .icons,
  .operations__tab3 .icons {
    width: 20px;
  }
  .operations__tab--active,
  .operations__tab--active2,
  .operations__tab--active3 {
    transform: translateX(5%);
  }
  
  .operations__logo img,
  .operations__logo2 img,
  .operations__logo3 img{
    width: 100px;
    padding-top: 10px;
  }
  .operations__content--active,
  .operations__content--active2,
  .operations__content--active3 {
    padding: 10px;
  }
  .operations__header,
  .operations__header2,
  .operations__header3 {
    font-size: 2.5rem;
  }

  .operations__content p,
  .operations__content2 p,
  .operations__content3 p {
    padding-top: 10px;
    font-size: 1.2rem;
  }
  
  .close--btn {
    right: 20px;
    z-index: 1;
    color: #fdfdfd;
    font-size: 35px;
  }

   /********************* Slider ***********************/
   .slider__btn {
    top: 70%;
    font-size: 2rem;
    width: 4rem;
    height: 4rem;
   }

   .slider {
    height: 80rem;
   }
  /*********************************************/
/*********************SMALL VIEWPORT************************/
/*********************************************/

@media (max-width: 477px) {
  
  .section--hidden {
    opacity: 1;
    transform: none;
  }
  
  .section-p1 {
    padding: 40px 40px;
  }
  .header__img {
    margin-top: -400px;
  }
  .header__img2 {
    margin-top: -100px;
    width: 360px;
  }

  .nav {
    padding: 10px 30px;
    /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06); */
  }

  h1 {
    font-size: 3.125em;
  }

  h4 {
    font-size: 2rem;
  }

  .section {
    padding: 1.25rem;
    border-top: 1px solid #ddd;
  }
}
}